<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>React App Demo</title>

    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>
<h2>React Demo</h2>

<div id="root"></div>
<!-- NOTE: text/babel type required to support JSX -->
<script type="text/babel">

    // return a list of books
    const ItemList = (props) => {
        // props is an array
        const listItems = props.data.map((item) =>
        <li key={item._id} id={item._id} onClick={props.clickHandler}>
            {item.title}
        </li>);
        return <ul>{listItems}</ul>
    }

    const ItemDetail = (props) => {
        return <div>
        <hr />
            <h3>Details</h3>
            <form>
                title: <input type="text" name="title" value={props.item.title || ""} onChange={props.handleChange} /><br/>
                author: <input type="text" name="author" value={props.item.author || ""} onChange={props.handleChange}/><br/>
                pub. date: <input type="text" name="pubdate" value={props.item.pubdate || ""} onChange={props.handleChange} /><br/>
            </form>
            <button name="save" onClick={props.saveItem}>Save</button>&nbsp;
            <button name="clear" onClick={props.clearForm}>Clear</button>&nbsp;
            <button name="delete" onClick={props.deleteItem}>Delete</button>&nbsp;
        </div>
    }


    const App = (props) => {
        const [items, setItems] = React.useState([]);
        const [currentItem, setCurrentItem] = React.useState({});

        // load data after component has rendered
        React.useEffect(() => {
            const fetchData = async () => {
                fetch("/api/v1/books").then(res => res.json())
                .then((json) => {
                    setItems(json);
                })
            }
            fetchData()
        }, []);

        // list click event handler
        const selectItem = (event) => {
            const found = items.find((item) => {
                return item._id === event.target.id;
            });
            setCurrentItem(found);
        }

        const clearForm = () => {
            setCurrentItem({});
        }

        const saveItem = () => {
            if (!currentItem.title) {
              return;
            }
            fetch("/api/v1/add/", {
              method: "POST",
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify(currentItem)
            })
            .then(res => res.json())
            .then((data) => {
                // if item has no _id, it wasn't previously saved in DB
                if (!currentItem._id) {
                    currentItem._id = data._id;
                    setCurrentItem(currentItem);
                    // update items list
                    let newItems = [...items];
                    newItems.push(currentItem);
                    setItems(newItems);
                }
            })
        }

        const deleteItem = () => {
            let id = currentItem._id;
            // delete item from DB
            fetch(`/api/v1/delete/${id}`)
            .then(res => res.json())
            .then((data) => {
                // remove item from UI list
                  const newItems = items.filter((item) => {
                    return item._id !== id;
                  });
              setItems(newItems);
              // clear form
              setCurrentItem({})
            });
        }

        // update list state
        const handleChange = (event) => {
          let newItem = { ...currentItem } ;
          newItem[event.target.name] = event.target.value;
          // update currentItem state
          setCurrentItem(newItem);
          // update list state
          items.find((item, index) => {
            if (item._id == newItem._id) {
                items[index] = newItem;
                setItems(items);
            }
          })
        }

        return (
            <div> <h2>Books Inventory</h2>
                <ItemList data={items} clickHandler={selectItem} />
                <ItemDetail
                  item={currentItem}
                  handleChange={handleChange}
                  clearForm={clearForm}
                  saveItem={saveItem}
                  deleteItem={deleteItem}
                />
            </div>
        );

    }

    const container = document.getElementById('root');
    const root = ReactDOM.createRoot(container);
    root.render( <App />);

</script>
</body>
</html>