<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Shadow Pipe</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>

<script>

    var leadsApp = angular.module('leadsApp',[]);
    leadsApp.controller('LeadsController', function($scope, $http) {
      
    $http.get('/api/leads')
      .then(function successCallback(response) {
            $scope.leads = response.data;
      }, function errorCallback(response) {
        console.log('Error: ' + response.data);
      });
  
    // control display of detail form
    $scope.hideform = true;

      // reset form
      $scope.showDetail = function(item) { 
        $scope.add = false;
        $scope.hideform = (item == $scope.lead) ? !$scope.hideform : false; 
        $scope.lead = item;
        $scope.close_date = new Date($scope.lead.close_date);
      };
      
      $scope.newLead = function() { 
        $scope.add = true;
        $scope.hideform = false; 
        $scope.lead = {};
      };

      $scope.saveLead = function() { 
        $http.post('/api/add', $scope.lead)
        .then(function successCallback(response) {
            $scope.post_result = response.data.result;
        }, function errorCallback(response) {
          console.log('Error: ' + response.data);
        });
      };
      
      $scope.deleteLead = function() { 
            $http.post('/api/delete', $scope.lead)
            .then(function successCallback(response) {
                var newList = $scope.leads.filter(function(lead) {
                  return lead._id != $scope.lead._id;
                });
                $scope.leads = newList;
                $scope.lead = {};
            }, function errorCallback(response) {
              console.log('Error: ' + response.data);
            });
           };

    });
</script>
<body ng-app="leadsApp">
      <header>Shadow Pipe</header>

<div ng-controller="LeadsController" class="container-fluid">
  <div class="row">
    <div class="sidebar col-sm-4">
     	<p>Search : <input type="text" ng-model="search_term"></p>
     	<table>
     	    <tr>
     	        <th>Company</th>
     	        <th>Amount</th>
     	        <th>Close</th>
     	    </tr>
          <tr ng-repeat="lead in leads | orderBy : 'company' | filter: search_term ">
            <td><a ng-click="showDetail(lead)">{{ lead.company }}</a></td>
            <td>{{ lead.amount }}</td>
            <td>{{ lead.close_date | date : 'MM-dd' }}</td>
          </tr>
        </table>
        
          <b>Total: {{leads.length}}</b>
          <p><button ng-click="newLead()">New</button></p>
          <hr>
    </div>
    <div class="detail-container col-sm-8">

<form ng-hide="hideform">
  <h3 ng-show="add">Add Item:</h3>
  <h3 ng-hide="add">Edit Item:</h3>
  <h3 ng-bind="post_result"></h3>
    <input type="text" placeholder="company" ng-model="lead.company" required maxlength="100">
    <input type="text" placeholder="contact" ng-model="lead.contact" maxlength="100">
    <input type="text" placeholder="amount" ng-model="lead.amount" maxlength="100">
    <input type="date" placeholder="close date" ng-model="close_date" maxlength="100">
    <br><button ng-click="saveLead()">Save</button></p>
    <br><button ng-click="deleteLead()">Delete</button></p>
  </span> 
  </form>
          </div><!-- end detail-container column-->
      </div><!--end row-->
      <div class="nav">
    <a href="/about">About</a></div>
    <footer>&copy; Brisk Software LLC</footer
  </div><!-- end container-fluid-->

</body>
</html>