<!doctype>
<html>
<head>
    <title>Shadow Pipe</title>
</head>
<body>
    <header>Shadow Pipe</header>
    <hr>
    {{{body}}}
    <hr>
    <div class="nav">
    {{! only show home link if on detail page }}
    {{#if leads}}{{else}}<a href="/">Home</a> |{{/if}}
    <a href="/about">About</a></div>
    <footer>&copy; Brisk Software LLC</footer
</body>
</html>