<html>
<link rel="stylesheet" href="/css/main.css">
<head>
    <meta charset="UTF-8" />
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>

    {{{body}}}

<hr>
<b>Copyright 2021</b>
</body>
</html>