<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>React App Demo</title>

    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>
<h2>React Demo</h2>

<div id="root"></div>
<script type="text/babel">

    // return a list of books
    const Books = (props) => {
        // props is an array
        const listItems = props.data.map((item) =>
        <li key={item._id} id={item._id} onClick={props.clickHandler}>
            {item.title}
        </li>);
        return <ul>{listItems}</ul>
    }

    const ItemDetail = (props) => {
        return <div>
        <hr />
            <h3>Book Details</h3>
            <form>
                title: <input type="text" name="title" value={props.item.title || ""} onChange={props.handleChange} /><br/>
                author: <input type="text" name="author" value={props.item.author || ""} onChange={props.handleChange}/><br/>
                pub. date: <input type="text" name="pubdate" value={props.item.pubdate || ""} onChange={props.handleChange} /><br/>
            </form>
            <button name="clear" onClick={props.clearForm}>Clear</button>&nbsp;
        </div>
    }


    const BookApp = (props) => {
        const [items, setItems] = React.useState(<%- books %>);
        const [currentItem, setCurrentItem] = React.useState({});

        // list click event handler
        const selectItem = (event) => {
            const found = items.find((item) => {
                return item.title === event.target.innerText;
            });
            setCurrentItem(found);
        }

        const clearForm = () => {
            setCurrentItem({});
        }

        // update list state
        const handleChange = (event) => {
          let newItem = { ...currentItem } ;
          newItem[event.target.name] = event.target.value;
          // update currentItem state
          setCurrentItem(newItem);
          // update list state
          items.find((item, index) => {
            if (item._id == newItem._id) {
                items[index] = newItem;
                setItems(items);
            }
          })
        }

        return (
            <div> <h2>Books Inventory</h2>
                <Books data={items} clickHandler={selectItem} />
                <ItemDetail
                  item={currentItem}
                  handleChange={handleChange}
                  clearForm={clearForm}
                />
            </div>
        );

    }

    const container = document.getElementById('root');
    const root = ReactDOM.createRoot(container);
    root.render( <BookApp />);

</script>
</body>
</html>