<html>
<head>
    <title>React App Demo</title>

    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>

<body>

<div id="root"></div>
<script type="text/babel">

    const items = <%- items %>;
    console.log(items)

    // define other components

    const App = () => {
      return <div><h2>Show components here</h2></div>;
    }

    ReactDOM.render(<App />, document.getElementById('root'));
</script>
</body>
</html>